.tasting-banner {
    background-image: url(/img/tasting-banner.jpg);
}

.restaurant-banner {
    background-image: url(/img/restaurant-banner.jpg);
}

.reservations-banner {
    background-image: url(/img/reservations-banner.jpg);
}

.events-banner {
    background-image: url(/img/events-banner.jpg);
}

.club-banner {
    background-image: url(/img/club-banner.jpg);
}

.cocktail-menu-banner {
    background-image: url(/img/cocktail-banner.jpg);
}

.food-menu-banner {
    background-image: url(/img/food-menu-banner.jpg);
}

.contact-banner {
    background-image: url(/img/contact-banner.jpg);
}

.about-banner {
    background-image: url(/img/about-banner.jpg);
}

.products-banner {
    background-image: url(/img/products-banner.jpg);
}

.p-mastehead {
    position: relative;
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center center;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        background: linear-gradient(to bottom, rgba(9, 41, 88, 0.6) 0%, rgba(255, 255, 255, 0.8) 100%);
    }
}
